.excel-toolbar {
  position: fixed;
  top: $header-height;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  height: $toolbar-height;
  padding: $top-element-padding;
  border-top: 1px solid $border-color-1;
  border-bottom: 1px solid $border-color-1;

  .btn {
    background: transparent;
    border: 1px solid $border-color-1;

    &:hover {
      color: $primary-color-3;
    }

    &.active {
      color: $white-color-1;
      background-color: $primary-color-3;
      border-color: $primary-color-3;
    }
  }
}
