.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-control;
  background: $secondary-color-1;
  border: none;
  border-radius: $border-radius-1;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  transition: 0.2s all ease-in;

  &:hover {
    background: $secondary-color-2;
  }

  &-white {
    background: $white-color-1;
    border: 1px solid $border-color-1;

    &:hover {
      color: $primary-color-3;
      border-color: $primary-color-3;
    }
  }
}
