.input {
  min-width: 1px;
  height: 26px;
  margin: 0;
  padding: 2px 6px;
  color: $black-color-4;
  font-size: $font-size-input;
  line-height: 1.1;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;

  &:hover,
  &:focus {
    border: 1px solid $border-color-3;
  }

  &:focus {
    border: 2px solid $accent-color-3;
  }
}
