// SIZE
$top-element-padding: 4px 8px;
$header-height: 40px;
$toolbar-height: 40px;
$formula-height: 28px;
$db-header-height: 64px;
$row-basic-height: 24px;
$cell-basic-width: 120px;
$cell-min-width: 40px;
$cell-info-width: 40px;
$border-radius-1: 4px;

// FONT-SIZE
$font-size-h1: 64px;
$font-size-h2: 56px;
$font-size-h3: 48px;
$font-size-h4: 32px;
$font-size-h5: 24px;
$font-size-h6: 18px;
$font-size-text: 16px;
$font-size-text-small: 12px;
$font-size-input: 16px;
$font-size-control: 18px;
$font-size-control-big: 24px;

//COLORS
$color-black: #000;
$color-white: #fff;
$color-text: #888;
$color-text-black: #202124;
$cell-text-color: #111;
$primary-color: #4dd658;
$primary-color-hover: #399c41;
$primary-bg-color: #77db7c;
$secondary-bg-color: #daffb7;
$secondary-bg-color-hover: #a6c28c;
$white-bg-color: #fff;
$white-bg-color-hover: #ececec;
$info-color: #e2e2e2;
$border-color: #bbb;
$cell-border-color: #e2e2e3;
$focus-control-border: #09f;
$hover-control-border: #797979;
$color-shadow: rgb(0 0 0 / 20%);
